button {
  width: 220px;
  height: 45px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #eb5440;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.background-container {
  background-image: url('../assets/img_background@3x.png');
  background-size: cover;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 1100px;
}

.clear-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.error-input {
  border: 1px solid red;
  margin-bottom: 2px;
}

.error-message {
  color: red;
  font-size: 12px;
}

form {
  width: 400px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
}

.image-preview-container {
  position: relative;
  display: inline-block;
  max-width: 30%;
}

.image-preview {
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.image-upload-input {
  display: flex;
  flex-direction: column;
}

input {
  font-family: 'Montserrat', sans-serif;
  margin: 5px 0 5px 0;
  padding: 15px 0 15px 15px;
  border-radius: 8px;
  border: none;
  color: #4a4b4c;
  outline: none;
  width: 95%;
}

label {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #4a4b4c;
  margin-bottom: 5px;
}

.mobile-header {
  display: none;
}

select {
  font-family: 'Montserrat', sans-serif;
  margin-top: 4px;
  padding: 14px 0 14px 14px;
  border-radius: 8px;
  border: none;
  color: #4a4b4c;
  outline: none;
  width: 103%;
  appearance: none;
}

.upload-icon {
  padding: 50px;
  width: 20px;
  border: 1px dashed #c3c3c3;
}

.desktop-header {
  margin-top: 100px;
}
@media only screen and (max-width: 768px) {
  .background-container {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .button-container {
    justify-content: center;
  }

  button {
    width: 100%;
    height: 35px;
    font-size: 16px;
  }

  .content-container {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
  }

  form {
    width: 350px;
  }

  .form-row {
    gap: 25px;
  }
  .desktop-header {
    display: none;
  }

  .error-message {
    color: red;
    font-size: 10px;
  }

  h1 {
    font-size: 18px;
  }

  input {
    font-size: 12px;
  }

  label {
    font-size: 14px;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    width: 350px;
  }

  .upload-icon {
    padding: 40px;
    width: 20px;
    border: 1px dashed #c3c3c3;
  }
}
